.ModalContainer {
  margin-top: 30vh;
  margin-left: 35%;
  /* top: 50%;
  left: 50%; */
}

.ModalWrapper {
  background-color: white;
  min-width: 300px;
  width: 50%;
  padding: 3vh;
  border-radius: 10px;
}
/* .reviewSubmit {
  margin-top: 10px;
  background-color: var(--primaryColor);
}
&:hover {
  background-color: green;
} */
